html, body, div, span, p, h1, h2, h3, h4, h5, h6, … {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;

}
a{
    text-decoration:none;
}
ul{
      padding:0px;
      -moz-padding-start: 0px;
      -o-padding-start:0px;
	    -webkit-padding-start: 0px;
}
ins {
	text-decoration: none;
}
